body{
  justify-content: center;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h2{
  background-color: black;
  color: aliceblue;

}
.as{
  font-size: 4rem;
  font-family: serif;
  color: aliceblue;
}
img{
  margin-left: 0;
  width: 10cm;
  height: 7.2cm;
  padding: 2px;
  border-radius: 1cm;
  margin-top: .3cm;
}
.card{
  width: 33cm;
  margin-left: 1cm;
  background-color: black;
  color:aliceblue;
  border-radius: 1cm;
}